In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import math
import random
from array import array
import time
import matplotlib
import sys

plt.rcParams.update({
'font.size': 25,
'figure.figsize': (11, 10),
'figure.autolayout': True,
'axes.grid': True,
'grid.linestyle': '-',
'grid.alpha': 0.2,
'lines.markersize': 5.0,
'xtick.minor.visible': True,
'xtick.direction': 'in',
'xtick.major.size': 20.0,
'xtick.minor.size': 10.0,
'xtick.top': True,
'ytick.minor.visible': True,
'ytick.direction': 'in',
'ytick.major.size': 20.0,
'ytick.minor.size': 10.0,
'ytick.right': True,
'errorbar.capsize': 0.0
})

x_font_size = 25
y_font_size = 35
l_font_size = 25

In [3]:
df = pd.read_csv('torg.csv', sep=';' )

In [4]:
df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,179,Штаны Полосатый Рейс,purple,NaN,L,99,29.06
1,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
2,182,Штаны Полосатый Рейс,purple,NaN,XS,100,29.06
3,183,Штаны Полосатый Рейс,purple,NaN,M,100,29.06
4,184,Штаны Полосатый Рейс,purple,NaN,S,100,29.06
...,...,...,...,...,...,...,...
270,639,Ремень Грубая Кожа,brown,NaN,L,100,10.39
271,641,Ремень Грубая Кожа,brown,NaN,XL,100,10.39
272,642,Ремень Грубая Кожа,brown,NaN,XS,100,10.39
273,643,Ремень Грубая Кожа,brown,NaN,M,100,10.39
274,644,Ремень Грубая Кожа,brown,NaN,S,100,10.39

In [42]:
grouping_columns = ['IP_PROP30','IP_PROP32']
columns_to_show = ['CP_QUANTITY','CR_PRICE_1_USD']
# columns_to_show = ['CP_QUANTITY']

In [43]:
df_grouped = df.groupby(by=grouping_columns)[columns_to_show]

In [46]:
df_grouped.agg([np.sum, np.mean]).keys()

MultiIndex([(   'CP_QUANTITY',  'sum'),
            (   'CP_QUANTITY', 'mean'),
            ('CR_PRICE_1_USD',  'sum'),
            ('CR_PRICE_1_USD', 'mean')],
           )

In [34]:
# df_grouped.describe()

In [47]:
df_grouped.agg([np.sum, np.mean])['CP_QUANTITY','sum']*df_grouped.agg([np.sum, np.mean])['CR_PRICE_1_USD','mean']

IP_PROP30  IP_PROP32
azure      L             3387.000000
           M             3387.000000
           S             3387.000000
           XL            3387.000000
           XS            3387.000000
black      L            24993.000000
           M            24993.000000
           S            24993.000000
           XL           24993.000000
           XS           24993.000000
blue       L            10740.000000
           M             7160.000000
           S             7160.000000
           XL           10740.000000
           XS           10740.000000
brown      L             6735.000000
           M             6735.000000
           S             6735.000000
           XL            6735.000000
           XS            6735.000000
green      L             6670.000000
           M             6647.766667
           S             6670.000000
           XL            6670.000000
           XS            6670.000000
orangered  L             2761.000000
           M             2761.000000
           S             2733.390000
           XL            2761.000000
           XS            2733.390000
pink       L             6046.000000
           M             6046.000000
           S             6046.000000
           XL            6046.000000
           XS            6046.000000
purple     L            11002.425000
           M             8272.500000
           S             8272.500000
           XL           11030.000000
           XS            8272.500000
red        L            11203.920000
           M            11203.920000
           S            11203.920000
           XL           11232.000000
           XS           11232.000000
redblue    L             2733.390000
           M             2761.000000
           S             2761.000000
           XL            2761.000000
           XS            2761.000000
see        L             2455.000000
           M             2455.000000
           S             2455.000000
           XL            2455.000000
           XS            2455.000000
white      L            18061.000000
           M            18061.000000
           S            18061.000000
           XL           18038.423750
           XS           18061.000000
dtype: float64